<div class="text-center">
    <h1 class="display-4 welcome text-monospace text-white ">Välkommen till Bageriet</h1>
    <img class="img-thumbnail welcome-img" src="~/images/bread.jpg" alt="bread" />
</div>
